---
permalink: /blog-feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }} - Blog Posts</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ '/blog-feed.xml' | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml"/>
    <description>Blog posts from {{ site.name }}</description>
    <language>en</language>
    <lastBuildDate>{{ collections.blog | stableRSSDate }}</lastBuildDate>
    
    {%- for post in collections.blog | reverse %}
    {%- if loop.index0 < 20 %}
    <item>
      <title>{{ post.data.title | e }}</title>
      <link>{{ post.url | absoluteUrl(site.url) }}</link>
      <description>{{ post.data.description or post.templateContent | striptags | e | truncate(300) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid isPermaLink="false">{{ post.url | absoluteUrl(site.url) }}</guid>
      {%- if post.data.tags %}
      {%- for tag in post.data.tags %}
      {%- if tag != "blog" %}
      <category>{{ tag }}</category>
      {%- endif %}
      {%- endfor %}
      {%- endif %}
    </item>
    {%- endif %}
    {%- endfor %}
  </channel>
</rss>