---
permalink: /music-feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }} - Music Releases</title>
    <link>{{ site.url }}/music/</link>
    <atom:link href="{{ '/music-feed.xml' | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml"/>
    <description>Latest music releases and audio content from {{ site.author.name }}</description>
    <language>en</language>
    <lastBuildDate>{{ collections.music | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    
    {%- for track in collections.music | reverse %}
    {%- if loop.index0 < 20 %}
    <item>
      <title>{{ track.data.title | e }}{% if track.data.artist %} - {{ track.data.artist | e }}{% endif %}</title>
      <link>{{ track.url | absoluteUrl(site.url) }}</link>
      <description>
        {%- if track.data.description -%}
        {{ track.data.description | e | truncate(300) }}
        {%- else -%}
        New music release: {{ track.data.title }}{% if track.data.artist %} by {{ track.data.artist }}{% endif %}{% if track.data.album and track.data.album != "Unknown Album" %} from the album "{{ track.data.album }}"{% endif %}.
        {%- endif -%}
        {%- if track.data.genre %} Genre: {{ track.data.genre | join(", ") }}.{% endif %}
        {%- if track.data.duration %} Duration: {{ track.data.duration | formatDuration }}.{% endif %}
        {%- if track.data.filename %} High-quality FLAC download available.{% endif %}
      </description>
      <pubDate>{{ track.date | dateToRfc822 }}</pubDate>
      <guid isPermaLink="false">{{ track.url | absoluteUrl(site.url) }}</guid>
      {%- if track.data.genre %}
      {%- for genre in track.data.genre %}
      <category>{{ genre }}</category>
      {%- endfor %}
      {%- endif %}
      <category>music</category>
      {%- if track.data.filename %}
      <enclosure url="{{ '/music-files/' + track.data.filename | absoluteUrl(site.url) }}" 
                 length="{{ track.data.fileSize or 0 }}" 
                 type="audio/flac" />
      {%- endif %}
    </item>
    {%- endif %}
    {%- endfor %}
  </channel>
</rss>